.box {
  width: 100px;
  height: 100px;
  display: inline-block;
  border: 2px solid green;
}

.game-content {
  margin:1em;
  min-height:35em;
  position:relative;
  }

.game-content span{
  display:block;
}

#box_01, #box_11, #box_21, #box_00, #box_10, #box_20 {
  width:90px;
  padding: 5px;
  position:absolute;
}

#screen {
  float: left;
}

#controls {
  float:right;
}

input, #invisible{
  display: inline-block;
  width: 5em;
  height: 2em;
}

#row1 {
  display:block;
}