* {
  font-family:American Typewriter;

}

#background {
  padding-top:160px;
  text-align:center;
  color:#fafafa;
  background-size:cover;
  height:85px;
}

header {
  position:relative;
  top:5px;
  text-align:center;
  width:73%;
  border-bottom:2px solid black;
}

a {
  color:#2B3A42;
}

a:hover {
  font-weight:lighter;
  color:0163A4;
}

#tagline {
  text-align:center;
}

#tagline h4 {
  font-size:1.5em;
  font-weight:bold;
  margin-top:2em;
  font-family:Synchro LET;
}

nav li {
  font-size:1.7em;
  display:inline;
  margin:0.75em;
}

#right_bar {
  position:absolute;
  right:0px;
  top:0px;
  width:25%;
  margin-left:auto;
  margin-right:auto;
}

#right_bar h1 {
  font-size:2.5em;
}

#right_bar a{

}

#profile_pic img {
  border:2px solid black;
  width:13em;
  height:auto;
}

#socialmedia_links li {
  width:8em;
  height:2em;
  font-size:1.2em;
  display:block;
  border:1px solid gray;
  text-align:center;
  padding-top:.4em;
}

#socialmedia_links a{
  text-decoration:none;

}

article {
  padding:2em;
  color:#3F5765;
  width:65%;
}

.home-content p {
  font-size:1.5em;
  position:relative;
}

.home-content {
  min-height:35em;
  width:60%;
  margin: 3em;

}

footer {
  width:100%;
  clear:both;
  bottom:0px;
  font-size:0.9em;
}

footer p {
  color:#999999;
  padding-left:1em;
}

.horizontal-line {
    border:1px solid gray;
    background-color:#cc0000;
    margin:15px 2px 15px 0px;
}

